<h4>Irrepressible Voices provides the most secure way to make your voices heard.</h4>

<?php if(!isset($this->user_id)): ?>
<div class="row-fluid">
    <p>Please <a href="/index/login">login</a> or <a href="/index/login">register</a> to submit your video.</p>
    <p>You do not need an email address or any other personal data to <a href="/index/login">register</a>.</p>
</div>
<?php elseif(isset($this->user_id)): ?>
<p>You can now submit your video. You are an Irrepressible Voice, we make your voice heard.</p>
<p>To get your irrepressible voice in the global media, we need some vital details.</p>

<div id="info_checkbox" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Attention please</h3>
    </div>
    <div class="modal-body">
        <p>Please indicate that you've read the terms and conditions to continue.</p>
    </div>
    <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn btn-primary">Close</a>
    </div>
</div>



<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script type="text/javascript">
    (function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document);
</script>
<script src="https://api.filepicker.io/v1/filepicker_debug.js"></script>

<div class="row-fluid">
<form action="/submit/upload/" name="submit" method="post">
    <fieldset>
        <div class="row-fluid">
            <div class="span12">
                <legend>Title of your video</legend>
                <input id="title" placeholder="Enter a title" maxlength="255" class="span12" type="text" name="title" />
            </div>
        </div>
        <div class="row-fluid">
            <div class="span8">
                <legend>Place</legend>
                <input id="searchTextField" placeholder="Enter the address" class="input-xxlarge" type="text" name="place" />
                <div id="map_canvas"></div>

                <legend>Upload Video</legend>
                <input type="file" id="filepick" class="btn"/>
                <div id="ajax-upload-output">Please select a file.</div>
                <span class="help-block">
                    <small>Make sure that you’re using one of the following formats:<br>
                    <strong>.MOV, .MPEG4, .AVI, .WMV, .MPEGPS, .FLV, 3GPP, WebM</strong><br />
                    If you're using a file format that's not listed above, we will not be able to upload it.
                </small></span>
            </div>

            <div class="span4">
                <legend>Date recorded <small>optional</small></legend>
                <input type="date" name="recorded" />

                <legend>Read me</legend>
                <label class="checkbox">
                    <input type="checkbox" id="in">  Please check this box to confirm you have read and accept our <a target="_blank" href="/cms/terms">terms and conditions</a>.
                </label>
            </div>
        </div>
        <div class="row-fluid">



            <div class="form-actions">
                <button type="submit" id="submitbtn" class="btn btn-primary" disabled="disabled">Submit</button>
                <button type="button" id="btn" class="btn" onclick="location.href='/';">Cancel</button>
            </div>
        </div>
        <div class="row-fluid" style="color: #999;">
            <small>
            When you click “submit”, your video will be uploaded to <a target="_blank" href="https://www.filepicker.io/">filepicker.io</a> - an online
            application. We download this file from filepicker. We then upload your
            video with our YouTube ID to our <a target="_blank" href="http://www.youtube.com/user/irrepressiblevoices">YouTube channel</a>,
            and your original file on filepicker will automatically be deleted. This
            ensure that your IP address is hidden and that your identity is safe.</small>
        </div>
    </fieldset>

    <input type="hidden" id="filepicker_url" name="filepicker_url" value="" />
    <input type="hidden" id="filepicker_filename" name="filepicker_filename" value="" />
    <input type="hidden" id="filepicker_mimetype" name="filepicker_mimetype" value="" />
    <input type="hidden" id="filepicker_size" name="filepicker_size" value="" />

</form>
</div>
<?php endif; ?>

