body {
    background-color: #CED8F6;
    background: url('/img/background.png') repeat #ccc;
}
.container-narrow {
    margin: 0 auto;
    max-width: 840px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding: 20px;
    background-color: #F6F2EC;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
.nav {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#header_topright {
    border: 1px solid #ccc;
    padding: 5px;
}
hr {
    margin: 5px;
    margin-bottom: 15px;
}
#slider_slogan {
    color: #0087c1; text-align: center;padding-top: 50px;
}
#partners {
    border: 0px solid black;
    float: left;
    position: relative;
    visibility: hidden;
    left: -5000px;
    width: 840px !important;

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
#partners li {
    height: 70px !important;
    padding-right: 20px;
}
.row-bordertop {
    border-top: 1px solid #ccc;
    padding-top: 12px;
}
#header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}


.thumbnail {background: rgb(252, 252, 252);}
.thumbnail h6 {margin: 0px;}
.thumbnail > img {opacity: 1;-webkit-transition: opacity;-webkit-transition-timing-function: ease-out;-webkit-transition-duration: 500ms;}
.thumbnail > img:hover {opacity: .5;background: red;-webkit-transition: opacity;-webkit-transition-timing-function: ease-out;-webkit-transition-duration: 500ms;}
.thumbnail p {font-size: 12px;line-height: 15px;}
ul.thumbnails li.span4:nth-child(3n + 4) {margin-left : 0px;}
ul.thumbnails li.span3:nth-child(4n + 5) {margin-left : 0px;}
ul.thumbnails li.span12 + li {margin-left : 0px;}

.thumbnail {
    height: 260px;
}

.thumbnails li:first-child {
    margin-left: 0px !important;
}
.thumbnails li:nth-child(2n+2) {
    margin-left: 10px !important;
}
.thumbnails li {
    margin-left: 10px !important;
}

element.style {
}
.carousel-control {
    top: 80%;
}

#ajax-upload-output {
    border: 1px solid #ccc;
    padding: 5px;
    width: 310px;
    margin-top: 20px;
    font-size: 12px;
}