<div class="span12">

    <ul class="thumbnails">
<?php foreach ($this->videofeed as $id => $videoEntry): ?>

    <?php if($id == "0"): ?>
        <li>
    <div class="row-fluid thumbnail" style="height: 360px; border: 1px solid #ccc; margin-bottom: 20px; ">
        <div class="span7">
            <a href="/videos/view/<?php echo $videoEntry->getVideoId() ?>">
            <?php $videoThumbnails = $videoEntry->getVideoThumbnails() ?>
            <img src="<?php echo ($videoThumbnails[0]['url']) ?>"
                 width="<?php echo ($videoThumbnails[0]['url']) ?>"
                 height="<?php echo ($videoThumbnails[0]['url']) ?>" />
            </a>
        </div>
        <div class="span5">
            <a href="/videos/view/<?php echo $videoEntry->getVideoId() ?>">
                <h2 style="color:#0087c1;"><?php echo $videoEntry->mediaGroup->title->text ?></h2>
            </a>
            <span class="badge badge-warning"><?php
            $time = new Zend_Date();
            $time->setTime('00:00:00');
            $time->addSecond($videoEntry->getVideoDuration());
            echo $time->toString('HH:mm:ss'); ?></span>
            <span class="label label-info"><?php echo $videoEntry->getVideoViewCount() ?> views</span>
            <hr />
            <?php if($videoEntry->getVideoDescription()): ?>
                <p><small><?php echo $videoEntry->getVideoDescription() ?></small></p>
            <?php endif; ?>
        </div>
    </div>
        </li>
    <?php else: ?>
        <li class="span3">
            <div class="thumbnail"
                 onclick="location.href='/videos/view/<?php echo $videoEntry->getVideoId() ?>';">
                <a href="/videos/view/<?php echo $videoEntry->getVideoId() ?>">
                    <?php $videoThumbnails = $videoEntry->getVideoThumbnails() ?>
                    <img src="<?php echo ($videoThumbnails[0]['url']) ?>"
                         width="<?php echo ($videoThumbnails[0]['url']) ?>"
                         height="<?php echo ($videoThumbnails[0]['url']) ?>" />
                </a>
                <div class="caption">
                    <a href="/videos/view/<?php echo $videoEntry->getVideoId() ?>">
                        <h5><?php echo $videoEntry->mediaGroup->title->text ?></h5>
                    </a>
                    <span class="badge badge-warning"><?php
                        $time = new Zend_Date();
                        $time->setTime('00:00:00');
                        $time->addSecond($videoEntry->getVideoDuration());
                        echo $time->toString('HH:mm:ss'); ?></span>
                    <span class="label label-info"><?php echo $videoEntry->getVideoViewCount() ?> views</span>
                </div>
            </div>
        </li>


    <?php endif; ?>
    <?php endforeach; ?>
    </ul>
</div>