<h3>Get Involved! <button class="btn btn-mini" onclick="location.href='/cms/about';">back</button></h3>


<br><h3>If you are an <i>Irrepressible Voice</i></h3>
<h5>We need your story, to hear in your words what is happening.</h5>
As an <i>Irrepressible Voice</i>, you want to reach an international public audience. IV will be the port of call for videos about human rights violations and make sure, your cause will be seen by the intended persons in world wide web.</br>
</br>
<strong>Security:</strong>
To avoid any danger for you as an <i>Irrepressible Voice</i>, we provide a secure way to upload your videos. Your video will be uploaded to
<a target="_blank" href="https://www.filepicker.io/">filepicker.io</a> - an online application. We download this file from filepicker.
We then upload your video with our YouTube ID to our <a target="_blank" href="http://www.youtube.com/user/irrepressiblevoices">YouTube channel</a>, and your original file on filepicker will automatically be deleted. This ensure that your IP address is hidden and that your identity is safe.</br>
</br>
<strong>Reliability:</strong>
Media and NGOs need verified content. All your videos will be reviewed and verified by the community consisting of you as an <i>irrepressible voice</i> as well as partner experts. Like this, IV establishes a digital watermark for crowdsourced, verified, reliable and genuine video content for incentive usage in media worldwide.</br>
</br>
<strong>Sustainability</strong>
You can not only verify, comment on and curate a video. In a next step you can also propose, vote for and work on solution proposals. To ensure sustainable approaches, through it’s network IV connects the contributors with experts from INGOs et.al. and helps to establish solutions proposals. Irrepressible Voices promotes grass-roots development of solutions identified by an internet community supported by experts.</br>

<br><h3>If you are a witness</h3>
<h5>We need you to help ensure that the information on the videos is as accurate as possible.</h5>
You can participate by submitting your video to our platform and fill out the necessary information. But you can also participate even without submitting a video. You can help our community to verify the videos and add additional information. If you think the information is wrong, report changes via our site as well. Only verified information is valuable information. Becoming a witness helps the voices not being silenced.

<br><h3>If your are an NGO</h3>
<h5>We need you to connect with these Irrepressible Voices and give them your expertise and knowledge in troubleshooting</h5>
Let us know how you could help creating social change.
We are looking forward to hearing from you.

<br><h3>If you are from the Media</h3>
<p>These Irepresible Voices have been brave, have been treated unfairly, and need the world to hear their story so that it will not happen to others.</h3>
We embrace media collaborations. Let us know how you will help making these voices heard.
We are looking forward to hearing from you.</p>

