<h4>With your submission to Irrepressible Voices, you accept the following terms & conditions:</h4>
<ul>
    <li>The IV gadget will be used for the users to be able to upload their
        videos</li>
    <li>After reviewing by the Irrepressible Voices team they will appear on
        the channel</li>
    <li>Furthermore they may be used in political events & debates and other
        websites</li>
    <li>The content you upload has to deal with human rights issues.</li>
    <li>Publication of your submission is contingent upon a review of the
        content by the editorial team of IV first.
    <li>After approval the videos will be published on IV’s platform and IV’s youTube channel.
    <li>If video content endangers the author/contributor we reserve the right
        to publish them only after having consulted with the author/contributor.</li>
    <li>Irrepressible Voices clarifies you retain all of your ownership rights
        in your content. However, by submitting content to Irrepressible Voices,
        you hereby grant Irrepressible Voices a worldwide, non-exclusive,
        royalty-free, sublicensable and transferable license to use, reproduce,
        distribute, prepare derivative works of, display, and perform the content
        on the YouTube website and websites of IV’s partners.</li>
    <li>You affirm, represent, and warrant that you own or have the necessary
        licenses, rights, consents, and permissions to publish Content you submit;
        you further confirm that content you submit to IV will not contain third
        party copyrighted material, or material that is subject to other third
        party proprietary rights, unless you have permission from the rightful
        owner of the material or you are otherwise legally entitled to post the
        material and to grant IV all of the license rights granted herein.</li>
    <li>IV does not permit content that violates 3rd party rights or infringes
        the applicable law.</li>
    <li>By uploading your video to IV you may submit Content to the Service,
        including videos and user comments. You shall be solely responsible for
        your own Content and the consequences of submitting and publishing your
        Content on the Service.</li>
</ul>
<small>
The <a target="_blank" href="http://www.youtube.com/static?gl=US&template=terms">Terms of Service</a> that you agreed upon sign up for YouTube apply.<br />
You also read the <a target="_blank" href="http://www.google.de/intl/en/policies/privacy/">Privacy Policy of YouTube</a>.
</small>
<br >&nbsp;