<h3>Our Vision <button class="btn btn-mini" onclick="location.href='/cms/about';">back</button></h3>

Ever since there have been courageous people who fought against human rights violators via video. But nowadays, one important thing has changed. The global rise of smartphones and access to cheap video technology offer an enormous opportunity: digital video cameras are available almost everywhere. Video footage is often easier to create and quicker to verify than alternatives.</br>
Everyone can become a human rights activist, but most of them lack the connections to an international audience of politics, media and NGO´s to call attention to the problem and make their voice heard.</br>
Current specialist platforms of human rights NGOs, blogger network and do not focus on the single most commonly available medium employed by ‘citizen journalists’ as much as by professionals: video. These platforms do not provide the possibility to upload your own content. Other video platforms are not dedicated to human rights entirely. A dedicated channel for verified video content that makes people’s voices heard by connecting them with strong partners and answering the media’s need for verified, genuine content is missing.</br>
</br>
<h3>Problem</h3>
Hence, when placing their content about human rights abuses, bloggers, citizen journalists and online activists are often faced with 4 major problems:</br>
<strong>Visibility:</strong></br>
Those affected by human rights abuses are often silenced not only by oppressive forces, but also by the lack of appropriate online channels for viewing and discussing their recorded evidence. Those affected by human rights abuses can never be sure that the evidence which they may have risked their lives to record will be seen by those who could help. YouTube is the most common outlet for video footage of this type, but it can be difficult for a clip to find its intended audience among the constant snowstorm of images and the white noise of the internet.</br>
<strong>Security:</strong></br>
Critics and witnesses of Human Rights abuses often lack of a secure technological infrastructure to provide their video footage to a destined audience. Internet censorship and espionage on data transfer create a dangerous risk for the sender and others involved.</br>
<strong>Reliability and Verification:</strong></br>
If it is hard enough for bloggers, citizen journalists and political activists to bring human rights issues into focus, for an anonymous sender it is even more difficult to deliver his important message. Part of the problem is the anonymity itself. Video content is difficult to verify when there is no possible connection to the originator or other voices to prove the content to be true.
<strong>Sustainability:</strong></br>
But even if human rights violations are denounced, often it is difficult to establish a concrete strategy to solve the problem. Raising awareness is important, however, after mass media´s need for genuine information has moved to the next topic, which changes have been made to improve the situation? Who is fostering and implementing sustainable solutions?</br>
</br>
<h3>Solution</h3>
Irrepressible Voices launches into this challenge and tackles those problems outlined above by becoming the reliable and highly visible arena for video footage recorded by people affected by human rights abuses. IV wants to empower people to create change in their countries through the help of INGO´s, media and other stakeholders.</br>
</br>
<i>For the activists, this means:</i></br>
Irrepressible voices makes the voice of people dealing with human right issues heard by verifying their video content and thus being able to provide it to international media and NGOs. IV can also constitute a form of dealing with human rights issues in a creative visual way.</br>
</br>
<i>For the international community of NGOs and Media, this means:</i></br>
IV aims to be the leading human rights platform and international journalistic/NGO content-pool for genuine, crowdsourced verified and media-compatible video material in order to create social change and improve people’s situations for the better.</br>
Meanwhile, any journalists and NGOs who want to learn more about an abuse situation will have recourse to verifiable footage and originators are empowered to discuss evidence directly with them.</br>
</br>
<strong>Visibility:</strong></br>
IV will be the port of call for videos about human rights violations. By uploading their videos to our platform, activists will reach an international public audience and make sure, their cause will be seen by the intended persons in world wide web.</br>
<strong>Security:</strong></br>
To avoid any danger for people involved, a secure and reliable infrastructure must be created to save the anonymity of the activist and to still enable him to upload the video material to a secure destination. IV provides a secure ‘black box’ where sensitive content can be uploaded anonymously and safely. So even when YouTube is shut down in repressive regimes, we can still deliver messages from bloggers in that country.</br>
<strong>Reliability and Verification:</strong></br>
Media needs verified content. On the other side, originators of videos and their topics need visibility. IV creates a fruitful relationship between both sides: Video content is reviewed and verified by our community and selected experts. Like this, IV establishes a digital watermark for crowdsourced, verified, reliable and genuine video content for incentive usage in mass-media.</br>
<strong>Sustainability:</strong></br>
On the platform activists can not only verify, comment on and curate a video. In a next steps they can also vote for, work on and propose solution proposals. To ensure sustainable approaches, through it’s network IV connects the contributors with experts from INGOs et.al. and helps to establish solutions proposals. </br>
</br>
Irrepressible Voices promotes grass-roots development of solutions identified by an internet community supported by experts.</br>
</br>
If you have any further questions, please <a href=”mailto:info@irrepressiblevoices.org”>contact us</a>.</br>
Irrepressible Voices – Make your voice heard!</br>
If you want to donate to Irrepressible Voices, please do so via <a href=”http://rally.org/ivoices/”> rally.org</a>.

