<?php
$data = $this->blogdata;
?>
<h3>Blogedit</h3>

<form action="/admin/blogedit/<?php echo $this->blogid ?>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="blogId" value="<?php echo $this->blogid ?>" />
    <div class="row-fluid">
        <label>Title:</label>
        <input type="text" name="title" class="span12" value="<?php echo $data['article_title'] ?>" />
    </div>
    <div class="row-fluid">
        <label>Content:</label>
        <textarea name="content" id="blogedit_textarea" <?php if($data): ?>rows="25"<?php else: ?>rows="10"<?php endif; ?> class="span12"><?php echo $data['article_content'] ?></textarea>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <label>Primary Image: <small>(see on Bloglisting)</small></label>
            <?php if($data['article_image']): ?>
                <img src="/img/blog/<?php echo $data['article_image'] ?>" />
            <?php else: ?>
                <input name="image" type="file" size="50" maxlength="100000" accept="image/*">
            <?php endif; ?>
        </div>
        <div class="span6">
            <label>Secondary Image:</label>
            <?php if($data['article_secimage']): ?>
            <img src="/img/blog/<?php echo $data['article_secimage'] ?>" />
            <?php else: ?>
            <input name="secimage" type="file" size="50" maxlength="100000" accept="image/*">
            <?php endif; ?>
        </div>
    </div>

    <div class="row-fluid">
        <hr />
        <button class="btn btn-success">save</button>
        <button class="btn btn-alert" onclick="location.href='/admin/blog/';">cancel</button>
    </div>
</form>