<h1>Blog <button class="btn btn-success btn-small" onclick="location.href='/admin/blogedit/0/';">add new Blogentry</button></h1>

<table class="table">
    <thead>
        <tr>
            <td>Date</td>
            <td>Title</td>
            <td class="pull-right">Action</td>
        </tr>
    </thead>
    <tbody>
    <?php foreach($this->blogitems as $value): ?>
        <tr>
            <td><?php echo $value['article_date'] ?></td>
            <td><a href="/admin/blogedit/<?php echo $value['article_id'] ?>/"><?php echo $value['article_title'] ?></a></td>
            <td class="pull-right">
                <button class="btn" onclick="location.href='/admin/blogedit/<?php echo $value['article_id'] ?>/';">Edit</button>
                <button class="btn btn-danger"
                        onclick="if(confirm('Are you sure?')) location.href='/admin/blogdelete/<?php echo $value['article_id'] ?>/';">Delete</button>
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>