
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Irrepressible Voices<?php if(strip_tags($this->headTitle()) != ""): ?> / <?php echo strip_tags($this->headTitle()) ?><?php endif; ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/socialshareprivacy.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/css/bootstrap-wysihtml5.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

<div class="container-narrow">

    <div class="row-fluid" id="header">
        <div class="span8">
            <h3 class="muted"><a href="/index"><img src="/img/logo.png" /></a></h3>
        </div>
        <div class="span4">
            <ul class="nav nav-pills pull-right" id="header_topright">
                <?php if($this->user_id): ?>
                <?php /* <li><a href="/index/profile">your Account</a></li> */ ?>
                <li><a href="/index/logout">Logout</a></li>
                <?php else: ?>
                <li><a href="/index/login">Login/Register</a></li>
                <?php endif; ?>
            </ul>
        </div>
        <div class="row-fluid">
            <ul class="nav nav-pills pull-right">
                <li><a href="/index">Home</a></li>
                <li><a href="/cms/about">About Us</a></li>
                <li><a href="/submit/index">Submit</a></li>
                <li><a href="/videos/index">Videos</a></li>
                <li><a href="/blog/index">Blog</a></li>
                <li><a href="#" onclick="alert('beta!');">Forum</a></li>
                <li><a target="_blank" href="https://rally.org/ivoices/" style="color: red;">Donate</a></li>
            </ul>
        </div>
    </div>
    <?php if($this->flashMessages()): ?>
    <div class="row-fluid">
        <?php echo $this->flashMessages() ?>
    </div>
    <?php endif; ?>
    <div class="row-fluid">
        <?php echo $this->layout()->content; ?>
    </div>
    <div class="footer">
        <div class="row-fluid row-bordertop">
            <div class="span9">
                <div id="socialshareprivacy"></div>
            </div>
            <div class="span3" style="text-align: right;color:#999;font-size: 10px;">
                &copy; 2013 Irrepressible Voices<br />
                <a href="/cms/terms">terms & conditions</a> |
                <a href="/cms/legal">legal</a> |
                <a href="/cms/contact">contact</a>
            </div>
        </div>
    </div>

</div>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap-transition.js"></script>
<script src="/js/bootstrap-alert.js"></script>
<script src="/js/bootstrap-modal.js"></script>
<script src="/js/bootstrap-dropdown.js"></script>
<script src="/js/bootstrap-scrollspy.js"></script>
<script src="/js/bootstrap-tab.js"></script>
<script src="/js/bootstrap-tooltip.js"></script>
<script src="/js/bootstrap-popover.js"></script>
<script src="/js/bootstrap-button.js"></script>
<script src="/js/bootstrap-collapse.js"></script>
<script src="/js/bootstrap-carousel.js"></script>
<script src="/js/bootstrap-typeahead.js"></script>
<script src="/js/wysihtml5-0.3.0.js"></script>
<script src="/js/bootstrap-wysihtml5.js"></script>
<script src="/js/jquery.socialshareprivacy.js"></script>
<script src="/js/jcarousellite.js"></script>
<script src="/js/custom.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40078143-1', 'irrepressiblevoices.org');
    ga('send', 'pageview');

</script>
</body>
</html>
