<?php
$article = $this->article;
?>

<h2><?php echo $article['article_title'] ?></h2>
<h4><small>(<?php echo $article['article_date'] ?>)</small></h4>
<br />
<div class="row-fluid">
    <div class="<?php if($article['article_image']): ?>span8<?php else: ?>span12<?php endif; ?>">
        <?php echo $article['article_content'] ?>
    </div>
    <?php if($article['article_image']): ?>
    <div class="span4 pull-right" style="text-align: right;">
        <div class="row-fluid">
            <img src="/img/blog/<?php echo $article['article_image'] ?>" />
        </div>
        <?php if($article['article_secimage']): ?>
            <br />
            <div class="row-fluid">
                <img src="/img/blog/<?php echo $article['article_secimage'] ?>" />
            </div>
        <?php endif; ?>
    </div>
    <?php endif; ?>
</div>

<hr />

<button class="btn" onclick="location.href='/blog/index';">back to index</button>
<br/>&nbsp;