<h1>Blog</h1>

<?php if(count($this->blogitems) >= 1): ?>
<?php foreach($this->blogitems as $value): ?>
<div class="row-fluid" style="border-bottom: 1px solid #ccc;">
    <?php if($value['article_image']): ?>
    <div class="span2" style="padding-top: 15px;">
        <a href="/blog/view/<?php echo $value['article_id'] ?>/"><img src="/img/blog/<?php echo $value['article_image'] ?>" /></a>
    </div>
    <?php endif; ?>
    <div class="<?php if($value['article_image']): ?>span10<?php else: ?>span12<?php endif; ?>">
        <h2><a href="/blog/view/<?php echo $value['article_id'] ?>/"><?php echo $value['article_title'] ?></a> <small>(<?php echo $value['article_date'] ?>)</small></h2>
        <p><?php echo $this->truncate((strip_tags($value['article_content'])), 0, 240, 'aa', '... <a href="/blog/view/'. $value['article_id'].'">[read more]</a>') ?></p>
    </div>
</div>
<div class="clear"></div>
<?php endforeach; ?>
<?php else: ?>
<p>Keine Einträge verfügbar.</p>
<?php endif; ?>
<br />&nbsp;